
.top {
    width: 100%;
    height: 100%;
    background-image: url("../img/annenberg_purple.jpg");
    background-size: cover;
    padding: 0;
}

.title {
    text-align: center;
    color: #fff;
}

.title h1 {
    font-size: 2.5em;
    line-height: 1.5em;
}

.img-layer {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

.more {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 50%;
}

.more p {
    margin-left: -80%;
    text-align: center;
    line-height: 1em;
}

.more i {
    font-size: 3em;
    line-height: 1em;
}

.more a {
    color: #fff;
}

.flexbox {
    display: -ms-flex;
	display: -webkit-flex;
	display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    align-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.flexbox > div {
    margin: 20px;
}



.training {
    color: #fff;
    text-align: center;
    position: relative;
    height: 250px;
    max-width: 250px;
    min-width: 250px;
    background-color: #927FB5;
    overflow: hidden;
}

.training img {
    width: 100%;
    height: 100%;
}

.training h4 {
    position: absolute;
    width: 100%;
    bottom: -10px;
    background-color: rgba(78, 42, 132, 0.9);
    z-index: 10;
}

.training:hover .over {
    height: 100%;
    transition-duration: 0.3s;
}

.training .over {
    background-color: #927FB5;
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 5;
    transition-duration: 0.3s;
    cursor: pointer;
    overflow: hidden;
}

.training p {
    padding: 10px;
    line-height: 1.4em;
}

.over i {
    padding: 10px;
    border: #fff solid 1px;
    border-radius: 50%;
    transition-duration: 0.3s;
}

.over i:hover {
    background-color: rgb(78, 42, 132);
    transition-duration: 0.3s;
}



#training-icon {
    position: absolute;
    top: 10%;
    left: 55px;
    font-size: 8em;
}

#supergraphic {
    color: #4e2a84;
    font-size: 13em;
    z-index: 0;
    position: absolute;
    left: 35px;
    top: 60px;
    
}

.flex-start {
    justify-content: flex-start;
    width: 100%;
}

.sub-section-title h4 {
    text-align: center;
    font-weight: 100;
    line-height: 1.5em;
    color: #666;
}

.sub-section-title hr {
    border: #eee solid 1px;
    width: 10%;
    margin-top: 25px;
}

.sub-section-title {
    text-align: center;
    margin-top: 10px;
}

.sub-section-title p {
    line-height: 1.5em;
    font-size: 0.9em;
    color: #888;
}

.resource {
    width: 200px;
    height: 200px;
    border: #ddd solid 1px;
    padding: 10px;
    text-align: center;
    position: relative;
    transition-duration: 0.3s;
    margin: 10px;
}

.resource h5 {
    font-weight: 100;
    font-size: 1em;
    color: #777;
    line-height: 1.3em;
}

.resource:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition-duration: 0.3s;
}

.resource:hover #resource-download {
    opacity: 1;
    transition-duration: 0.3s;
}

#resource-download {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1.3em;
    z-index: 30;
    opacity: 0;
    transition-duration: 0.3s;
    color: #ddd;
}

.resource .resource-icon {
    font-size: 5em;
    margin: 25px;
    color: #555;
    position: static;
}

.workshop-nav {
    position: absolute;
    background-color: #260641;
    margin: 5px;
    border-radius: 5px;
}

.workshop-nav a {
    padding-left: 30px;
}

.workshop-nav p {
    display: inline-block;
    font-size: 0.8em;
    padding: 0 10px;
    height: 25px;
    color: #fff;
}

.workshop-nav i {
    display: inline;
    position: absolute;
    left: 10px;
    top: 8px;
    color: #fff;
}

.right i {
    left: 115px;
    top: 10px;
}

.right {
    right: 5px;
}

.right a {
    padding-right: 40px;
    padding-left: 15px;
}

.resume {
    width: 85%;
    margin: 0 auto;
    min-height: 100px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
    padding: 5px 25px;
}

.training a {
    color: #fff;
}

.resource-overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: scroll;
    left: 100%;
/*    display: none;*/
    transition-duration: 0.5s;
}

.resource-overlay i {
    position: fixed;
    left: 100%;
    font-size: larger;
    color: #333;
    transition-duration: 0.5s;
}





.left {
    left: 5px;
}
