<div class="container">
<h2>Examples</h2>
</div>
<div class="container">
    <h4 class="editable">Think like a hiring manager</h4>
        <p class="editable">Evaluating someone else&rsquo;s resume can help you glean insights that aren&rsquo;t as obvious when critiquing your own materials. Several MSHE Alumni have graciously agreed to provide their cover letters and resumes for jobs in which they have been interested. Take a look at the application materials below alongside the provided job descriptions. If you were the hiring manager, would you invite them for an interview? What would you be curious about? How would your resume/cover letter stack up?</p>
            <div class="page-toggle examples-toggle">
                <ul>
                    <li class="toggle-active"><a href="#/" id="toggle-sample-one"><span class="larger">Matt Formica (MS15)</span><br />
                    Career Advising</a></li>
                    <li><a href="#/" id="toggle-sample-two"><span class="larger">Andrea Farnan (MS15)</span><br />
                    First Year Programs</a></li>
                    <li><a href="#/" id="toggle-sample-three"><span class="larger">Derek Thurber (MS15)</span><br />
                    Instructional Design</a></li>
                </ul>
            </div>
            <div id="example-one">
                <div class="example">
                    <h5>Job Description</h5>
                     <iframe src="https://app.box.com/embed/preview/fg1bwrkqcquxe2n52ryzlmtodipomj0n?theme=dark" width="100%" height="600" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen></iframe>

                
                </div>
                <div class="example">
                    <h5>Resume/Cover Letter</h5>
                     <iframe src="https://app.box.com/embed/preview/ay0sxrwll0rt4rv2wvf1r8jwk5uxs458?theme=dark" width="100%" height="600" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen></iframe>

                </div>
            </div>
            <div id="example-two" class="hidden">
                <div class="example">
                    <h5>Job Description</h5>
                     <iframe src="https://app.box.com/embed/preview/e8gm2psqcvubclghhmt3knn5gbtykh8b?theme=dark" width="100%" height="600" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen></iframe>

                </div>
                <div class="example">
                    <h5>Resume/Cover Letter</h5>
                     <iframe src="https://app.box.com/embed/preview/uy6yu12mah6qt1aok3mfrxeiokx6wxl2?theme=dark" width="100%" height="600" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen></iframe>

                </div>
            </div>
            <div id="example-three" class="hidden">
                <div class="example">
                    <h5>Job Description</h5>
                    
                </div>
                <div class="example">
                    <h5>Resume/Cover Letter</h5>
                 <iframe src="https://app.box.com/embed/preview/2ccu0knagc99erta8digct42wt5qny6d?theme=dark" width="100%" height="600" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen></iframe>
                 </div>

            </div>
</div>