
    <div class="container">
    <h2>Cover Letter Workshop</h2>
    </div>
    <div class="container">
            <h4 class="editable">Tailor a cover letter to the job</h4>
            <p class="editable">Cover letters are a way to stand out from the pile. Hiring managers expect to see specific experience in your cover letter related to the job description. For example, you might want to start by going through a job description and looking for the key areas you can highlight (literally highlighting can help) in your cover letter.&nbsp;</p>
    </div>
