
    <div class="container">
    <h2>Cover Letter Workshop</h2>
    </div>
    <div class="container">
            <h4 class="editable">Tailor a cover letter to the job</h4>
            <div class="editable"><p>Cover letters are a way to stand out from the pile. Hiring managers expect to see specific experience in your cover letter related to the job description. For example, you might want to start by going through a job description and looking for the key areas you can highlight (literally highlighting can help) in your cover letter.&nbsp;</p>
            <p>Start by looking at the following job description for a fictional higher education job.</p>
            </div>
            <div class="resume">
                <h2 class="editable">Sample Job Description</h2>
                <div class="editable">
                    
                </div>
                <br>
            </div>
            <h4 class="editable">Sample Cover Letter</h4>
            <p class="editable">Now look at how the following sample cover letter is tailored to that job description. Notice how the highlighting matches to the highlighted sections of the job description.</p>
            <div class="resume">
                <h1>Arisleda Johnson</h1><p class="address-bar">1234 Chicago Ave., Apt. 1B, Evanston, IL 60201&nbsp;<br />ariseldajohnson2016@u.northwestern.edu | 987-654-3210 | https://linkedin.com/in/AriseldaJohnson</p><hr />
                <br>
                <div class="editable">
                    
                </div>
            </div>
    </div>
