<div class="container">
    <h2>Get Feedback</h2>
    </div>
    <div class="container">
            <h4 class="editable">Always have someone else look at your resume and cover letter</h4>
            <p class="editable">Even if it is just to get another set of eyes to check for spelling and grammer mistakes, getting someone else to look at your resume and cover letter is an important step that should never be skipped.</p>
            <p>If you would like Audra Nelson--Career Coach Extroardinare--to look at your resume and/or cover letter, please email her at <a href="mailto:audra.nelson@northwestern.edu">audra.nelson@northwestern.edu</a>.</p>
            
    </div>