<div class="container">
    <h2>Get Feedback</h2>
    </div>
    <div class="container editable"><h4>Always have someone else look at your resume and cover letter</h4><p>Even if it is just to get another set of eyes to check for spelling and grammar mistakes, getting someone else to look at your resume and cover letter is an important step that should never be skipped.</p><p>If you would like Audra Nelson, MSHE Career Coach, to look at your resume and/or cover letter, please email her at <a href="mailto:audra.nelson@northwestern.edu">audra.nelson@northwestern.edu</a>.</p></div>