<div class="container">
            <h2>Guides, examples, resources, etc. </h2>
            <div class="sub-section-title">
                <h4>Examples</h4>
                <p>These examples should be used only as suggestions and guides. Not as models for how you have to complete your resume or cover letter.</p>
            </div>
            <div class="flexbox flex-start">
                <a href="{{ site.baseurl }}/assets/Sample%20MSHE%20Resume.docx">
                <div class="resource">
                    <i class="fa fa-download" id="resource-download"></i>
                    <i class="fa fa-file-text-o resource-icon"></i>
                    <h5>Sample MSHE Resume.docx</h5>
                </div>
                </a>
                <a href="{{ site.baseurl }}/assets/UChicagoCL%20materials2.pdf">
                <div class="resource">
                    <i class="fa fa-download" id="resource-download"></i>
                    <i class="fa fa-file-pdf-o resource-icon"></i>
                    <h5>UChicagoCL materials2.dpf</h5>
                </div>
                </a>
            </div>
            <div class="sub-section-title">
                <hr>
                <h4>Resources</h4>
<!--                <p>These examples should be used only as suggestions and guides. Not as models for how you have to complete your resume or cover letter.</p>-->
            </div>
            <div class="flexbox flex-start">
                <a href="{{ site.baseurl }}/assets/Resume%20Checklist.docx">
                <div class="resource">
                    <i class="fa fa-download" id="resource-download"></i>
                    <i class="fa fa-list resource-icon"></i>
                    <h5>Resume Checklist.docx</h5>
                </div>
                </a>
                <a href="https://www.youtube.com/watch?v=JUEylZ6Vo1I" target="_blank">
                <div class="resource">
                    <i class="fa fa-external-link" id="resource-download"></i>
                    <i class="fa fa-file-video-o resource-icon"></i>
                    <h5>Resume Workshop Video</h5>
                </div>
                </a>
            </div>
    <div class="spacer"></div>
        </div>