
    <div class="container">
    <h2>Resume Workshop</h2>
    </div>

        <div class="container editable">
            <h4 class="editable">Creating a Strong Higher Ed Resume</h4>
            <p>Resumes are marketing documents, which means that, to be effective, they need to resonate with your desired audience. To find out what will speak to your target higher education employer, review job descriptions in your area of career interest prior to writing your resume.</p>
            <p><strong>Activity: Keep an Ongoing, Comprehensive Resume<br>
            When to start: Upon enrolling in the MSHE program</strong></p>
            <p>You probably wrote a resume when you applied to the MSHE program. Don’t delete it! A comprehensive, all-encompassing resume is a great thing to have on hand.</p>
            <ol>
                <li>As you complete class projects, internships, and job projects, add them to your comprehensive resume.</li>
                <li>Do a search on higheredjobs.com, and identify a few jobs of interest to you. Scan the requirements and the verbs used in the job descriptions.</li>
                <li>How many of the requirements and verbs in your desired job descriptions are incorporated into your resume? Are there skills you need to grow during your time as a graduate student in order to make yourself more competitive for these positions? Now is the time to do so!</li>
            </ol>
            <p><strong>Activity: Write a <i>Targeted</i> Resume<br>
            When to start: When you begin actively searching for a job (i.e. three to six months prior to graduation)</strong></p>
            <p>While the comprehensive resume is good to keep in your files, the resume you distribute should be targeted to your specific career goal. This activity will help you write a more targeted resume.</p>
            <ol>
                <li>Do a search on higheredjobs.com, and identify a few jobs of interest to you.</li>
                <li>Highlight action verbs used in the position description and in the required and preferred qualifications.</li>
                <li>Circle any repeated verbs. </li>
                <li>Make a list of field-specific terminology or jargon included in the description.</li>
                <li>Now, take a look at your resume. Have you used the verbs you highlighted and circled in your lists of duties and achievements? If not, how can you re-write the bullets to incorporate these skills? </li>
                <li>What details have you included in your resume that now seem extraneous or distracting, given the requirements and needs of the positions you’re seeking? Remember that an employer may spend only 30 seconds to a minute scanning your resume. Make sure all the details you include are either relevant to his/her needs and the requirements of the position or important for conveying your unique qualities as a person and professional.</li>
            </ol>
            <div class="spacer"></div>
            <h4>Sample Resume</h4>
            <p class="editable">Explore the sample resume below and think critically about what makes this resume good or bad. You can take a look at helpful tips, advice, and critiques by clicking on the <span style="color:aqua;">blue dots</span> throughout the resume sample. Think about your own resume and how you could update your resume based on the advice here.</p>
            <div class="spacer"></div>
            
            <div class="resume editable" id="resume-one">
                <h1>Name</h1>
                <p class="address-bar">Address | Email | Telephone | LinkedIn URL</p>
                <hr>
                <h2>Education</h2>
                <div class="experience">
                    <p><strong>Northwestern University</strong> | Evanston, IL<br>
                        Master of Science in Higher Education Administration & Policy, Graduation Month Year<br>

Master’s Project: Title or, if title isn’t relevant to job target, use a description of the project, written with your desired audience in mind <br>

Relevant courses: List only if particularly relevant to target position and only if you’re willing to talk about them in an interview <br>
                    </p>
                    </div>
                    <div class="experience">
                    <p><strong>Undergraduate Institution</strong> | City, State<br>
                    Degree, Graduation Month Year<br>
Honors and study abroad experience can be listed on this line, in succession to save space.
                    </p>
                    </div>
                <h2>Higher Education Administration Experience</h2>
                <div class="experience">
                    <p><strong>Employer</strong> | City, State <br>
                    <i>Title</i>, Month Year &ndash; Month Year
                    </p>
                    <ul>
                        <li>Use a more specific heading above (e.g., Student Affairs Experience, International Education Experience) as appropriate.</li>
                        <li>Craft bulleted description of accomplishments (not just duties), using varied, powerful, action verbs and include impact and/or results of your work. Instead of “responsible for grant writing,” for example, use, “Wrote grant proposals, raising $5,000 in funding for high-needs students.” </li>
                        <li>More examples (because writing compelling bullets is the KEY to a great resume!):
                            <ul>
                                <li>Analyzed data from 200 student surveys to identify trends and problem areas; presented</li>
                                    <li>Presented weekly information sessions to groups of 5 to 50 prospective students, helping</li>
                            </ul>
                        </li>
                        <li>Prioritize bullets not according to how much time you spent on a particular task or the order of importance to your current job, but according to each bullet’s relevance to your desired position.</li>
                        <li>Omit any tasks (e.g., answered phone, input data) that you do not want to do in the future or that brand you as a lower-level employee if you are applying for an upper-level position.findings in order to facilitate programming improvement.to generate a 10% increase in applications and 5% increase in enrollment.</li>
                    </ul>
                </div>
                <h2>Additional Experience</h2>
                <div class="experience">
                    <p><strong>Employer</strong> | City, State <br>
                    <i>Title</i>, Month Year &ndash; Month Year
                    </p>
                    <ul>
                        <li>Follow same rules above, and also pay special attention to the relevance of your descriptions. Try to think about how your past experience relates to your targeted position, and write descriptions accordingly.</li>
                        <li>If you were a receptionist in a doctor’s office, for instance, you might have the following on your initial resume: “Book, confirm, cancel, and reschedule appointments for patients.” If you’re now applying for an enrollment management position, you might change the description to the following: “Serve as initial point of contact for 800+ patients, managing schedules and ensuring patient satisfaction”</li>
                    </ul>
                </div>
                <h2>Skills and Interests</h2>
                <ul>
                    <li><strong>Language:</strong> Include languages only if you’re at least proficient.</li>
                    <li><strong>Computer:</strong> Include any programs you’ve used, especially if they are listed as a requirement in the job description for which you’re applying. Don’t think that people just assume you have these skills; recruiters want to see them.</li>
                    <li><strong>Interests:</strong> Include interests if you think it could lead to good small talk at the beginning of an interview and if the interests are somewhat memorable/unique.</li>
                
                </ul>
                <div class="spacer"></div>
                <i class="fa fa-dot-circle-o info one" id="one-education"></i>
                <div class="info-menu one" id="one-menu">
                    <a href="#/"><i class="fa fa-times-circle info-close" id="one-close"></i></a>
                    <h2>Writing the Education Section for MSHE</h2>
                    <h3>How should I write MSHE?</h3>
                    <p>Write out the full name and include the university, city, and state. Also include your graduation month and year even if it is anticipated graduation for the future. For example:</p>
                    <blockquote><strong>Northwestern University</strong> | Evanston, IL<br>
                        Master of Science in Higher Education Administration & Policy, Graduation Month Year</blockquote>
                    <h3>Should I include anything else?</h3>

                    <p>Master’s Project: Title or, if title isn’t relevant to job target, use a description of the project, written with your desired audience in mind </p>

                    <p>Relevant courses: List only if particularly relevant to target position and only if you’re willing to talk about them in an interview </p>

                </div>
                <i class="fa fa-dot-circle-o info two" id="two-dot"></i>
                <div class="info-menu two" id="two-menu">
                    <a href="#/"><i class="fa fa-times-circle info-close" id="two-close"></i></a>
                    <h2>Writing Strong Bullets</h2>
                    <h3>What should I include?</h3>
                    <ul>
                        <li>Use a more specific heading above (e.g., Student Affairs Experience, International Education Experience) as appropriate.</li>
                        <li>Craft bulleted description of accomplishments (not just duties), using varied, powerful, action verbs and include impact and/or results of your work. Instead of “responsible for grant writing,” for example, use, “Wrote grant proposals, raising $5,000 in funding for high-needs students.” </li>
                        <li>More examples (because writing compelling bullets is the KEY to a great resume!):
                            <ul>
                                <li>Analyzed data from 200 student surveys to identify trends and problem areas; presented</li>
                                    <li>Presented weekly information sessions to groups of 5 to 50 prospective students, helping</li>
                            </ul>
                        </li>
                        <li>Prioritize bullets not according to how much time you spent on a particular task or the order of importance to your current job, but according to each bullet’s relevance to your desired position.</li>
                        <li>Omit any tasks (e.g., answered phone, input data) that you do not want to do in the future or that brand you as a lower-level employee if you are applying for an upper-level position.findings in order to facilitate programming improvement.to generate a 10% increase in applications and 5% increase in enrollment.</li>
                    </ul>
                    <div class="flexbox flex-start">
                <a href="{{ site.baseurl }}/assets/Sample_Action_Words.docx">
                <div class="resource">
                    <i class="fa fa-download" id="resource-download"></i>
                    <i class="fa fa-file-text-o resource-icon"></i>
                    <h5>Sample Action Words.docx</h5>
                </div>
                </a>
                </div>
            </div>
                    
            </div>
            <div class="resume editable hidden" id="resume-two">
                <h1>Name</h1>
                <p class="address-bar">Address | Email | Telephone | LinkedIn URL</p>
                <hr>
                <h2>Research/Presentations</h2>
                
            </div>
            
            <div class="page-toggle">
                <ul>
                    <li class="toggle-active"><a href="#/" id="toggle-one">Page 1</a></li>
                    <li><a href="#/" id="toggle-two">Page 2</a></li>
                </ul>
            </div>
            
        </div>
        
<!--    <section>-->
<!--        <div class="container">-->
<!--            <hr>-->
<!--            <h2 class="editable">Understand how Hiring Managers Choose Candidates</h2>-->
<!--            <p class="editable">Resumes are not written in a void. If you understand what hiring managers are looking for in a resume and how to examine resumes for their quality and completion, then you can write a better targeted resume. As above, think about how your resume would stack up: would your resume be competitive for this job posting? What could you do to make it competitive?</p>-->
<!--            <hr>-->
<!--            <p class="editable">Start by reading this sample job description:</p>-->
<!--            <div class="resume job-description editable">-->
<!--                <h1>Higher Ed Job Description</h1>-->
<!--                <p><strong>Title:</strong> Job Title</p>-->
<!--                <h2>Essential Job Duties</h2>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices, mi ut pulvinar ultrices, enim ipsum pretium justo, ac pretium justo nulla at risus. In et finibus enim. Sed vitae risus nec odio elementum molestie vitae eu magna. Sed quis cursus purus. Fusce egestas arcu at mi mattis sollicitudin. Aliquam pharetra augue nisl, non commodo felis accumsan at. Donec dapibus vestibulum tincidunt. Duis blandit, dolor in commodo molestie, sapien augue mattis metus, quis malesuada neque elit a elit. Nulla pellentesque sem at auctor mattis. Nulla tristique at lacus ut mollis. Curabitur sollicitudin orci id ligula accumsan posuere. Maecenas volutpat laoreet lacus, vitae mollis nisi. Praesent quam dui, laoreet a nisl aliquet, tincidunt convallis sapien.</p>-->

<!--                <p>Maecenas rhoncus nunc lorem, sed facilisis nulla rhoncus sit amet. Nunc consequat efficitur lorem ut tempus. Duis vitae risus varius, ultricies nunc in, ultrices augue. Aliquam nec neque ultrices, pretium nisi eget, egestas justo. Vestibulum in quam lacus. Morbi consequat rhoncus lobortis. Phasellus sollicitudin nibh semper tristique sollicitudin. Donec id augue in lorem facilisis lobortis. Donec mauris orci, finibus eu elit a, iaculis finibus purus. Nulla auctor ex sit amet aliquet sodales. Mauris dapibus libero et ligula molestie tempus. Mauris tempus gravida magna, id malesuada nisl sollicitudin nec.</p>-->
<!--                <h2>Required Skills/Experience</h2>-->
<!--                <ul>-->
<!--                    <li>Master's Degree in Higher Education or a Related Field</li>-->
<!--                    <li>1-3 Years of Relevant Professional Experience</li>-->
<!--                    <li>Prior experience planning events</li>-->
                    
<!--                </ul>-->
<!--                <h2>Preferred Skills/Experience</h2>-->
<!--                <ul>-->
<!--                    <li>3-5 Years of relevant professional experience</li>-->
<!--                    <li>Experience working in a higher education setting</li>-->
<!--                    <li>Experience working with undergraduate students</li>-->
<!--                </ul>-->
<!--                <div class="spacer"></div>-->
<!--            </div>-->
<!--            <hr>-->
<!--            <p class="editable">Then, go through each of the sample candidate resumes below and decide which is the most qualified for the position description:</p>-->
<!--        </div>-->
<!--            <div class="slide-container">-->
<!--                <div class="slider">-->
<!--                    <div class="slide" id="slide-one">-->
<!--                         <iframe  src="https://app.box.com/embed/preview/svikao9vyb1df70qul3l2xl0hlohw4gt?theme=dark" width="100%" height="100%" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen></iframe>-->
<!--                    </div>-->
<!--                    <div class="slide" id="slide-two">-->
                         
<!--                    </div>-->
<!--                    <div class="slide" id="slide-three">-->
                         
<!--                    </div>-->
<!--                    <div class="slide" id="last"></div>-->
                    
<!--                </div>-->
<!--
<!--                <div class="slide-dots">-->
<!--                    <ul>-->
<!--                        <li><a href="#/" id="dot-one" class="dot-active">1</a></li>-->
<!--                        <li><a href="#/">2</a></li>-->
<!--                        <li><a href="#/">3</a></li>-->
<!--                    </ul>-->
                        
<!--                </div>-->

<!--                 <a href="#/"><i class="fa fa-chevron-left" id="slide-left"></i></a>-->
<!--                 <a href="#/"><i class="fa fa-chevron-right" id="slide-right"></i></a>-->
<!--            </div>-->
<!--            <div class="container">-->
<!--                <p class="editable">Why did you pick that resume for this job description?</p>-->
<!--            </div>-->
<!--    </section>-->
<!--    <section>-->
<!--        <div class="container">-->
<!--            <hr>-->
<!--            <h2 class="editable">Reflect and Consider</h2>-->
<!--            <p class="editable">Countless studies have shown that good learning happens when we pause and reflect. Before moving on to the next thing you are doing, take a minute to think about your resume and how it would be evaluated by hiring managers for positions for which you are interested. Why is it important to tailor your resume to specific positions? What are hiring managers looking for in a resume?</p>-->
<!--            <p>View and dowload resources related to resume and cover letter writing including those used in this workshop:</p>-->
<!--            <a href="#/" id="overlay-open-link"><div class="center"><i class="fa fa-book" id="pause"></i></div></a>-->
<!--        </div>-->
<!--    </section>-->
